</div><!--/#main-->
<footer id="footer">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-6 col1">
          <h6>FEW MORE LINKS</h6>
          <a href="/about">About</a> <a href="/">Home</a> <a href="/contact">Contact</a>
        </div>
        <div class="col-md-6 col2">
          <h6>FOLLOW ME</h6>
          <ul class="social-media">
            <li>
            <a href="https://twitter.com/efarrell18" class="twitter wc-img-replace" target="_blank">Twitter</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
</footer>
{{ template "theme/partials/google.html" . }}
</body>
</html>
